* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* (graphic design text) */
  --dark-blue: hsl(198, 62%, 26%); /* (photography text) */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1440px;
  height: 4174px;
  margin-top: -1px;
}
.header {
  width: inherit;
  height: 801px;
  background: url(./images/desktop/image-header.jpg) no-repeat center;
  background-size: contain;
  position: relative;
}
.banner {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-header {
  width: 171px;
  height: 34px;
  background: url(./images/logo.svg) no-repeat center;
  margin-top: 45px;
}
.menu {
  margin-top: 45px;
}
.nav {
  list-style-type: none;
  display: flex;
}
.nav li {
  color: var(--white);
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  padding: 12px 22px;
  margin-right: 25px;
  cursor: pointer;
}
.nav li:last-child {
  color: var(--very-dark-desaturated-blue);
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: var(--white);
  margin-right: 48px;
}
.nav li:last-child:hover {
  color: var(--white);
  background-color: hsl(0, 0%, 100%, 0.5);
}
.title h1 {
  text-align: center;
  margin-top: 117px;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 6px;
  font-size: 42px;
}
#arrow-down {
  width: 38px;
  height: 117px;
  background: url(./images/icon-arrow-down.svg) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-40px);
}
.feature-container {
  width: 1440px;
  height: 1800px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -1px;
}
.features {
  width: 720px;
  height: 601px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-1, .feature-2 {
  width: 450px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}
.feature-1 .subtitle, .feature-2 .subtitle {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 28px;
  color: var(--very-dark-desaturated-blue);
}
.feature-1 .content, .feature-2 .content {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  color: var(--dark-grayish-blue);
  line-height: 30px;
}
.feature-1 .learn-more button, .feature-2 .learn-more button {
  font-family: 'Fraunces', serif;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: var(--white);
  cursor: pointer;
}
.feature-1 .learn-more button {
  text-decoration: #fdf5b7
  underline 5px;
}
.feature-1 .learn-more button:hover {
  text-decoration: var(--yellow) underline 5px;
}
.feature-2 .learn-more button {
  text-decoration: #ffdbd3 underline 5px;
}
.feature-2 .learn-more button:hover {
  text-decoration: var(--soft-red) underline 5px;
}
.feature-1-pic {
  background: url(./images/desktop/image-transform.jpg) no-repeat center;
}
.feature-2-pic {
  background: url(./images/desktop/image-stand-out.jpg) no-repeat center;
}
.feature-3-pic {
  width: 720px;
  height: 601px;
  background: url(./images/desktop/image-graphic-design.jpg) no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-4-pic {
  width: 720px;
  height: 601px;
  background: url(./images/desktop/image-photography.jpg) no-repeat center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-3 {
  width: 380px;
  height: 200px;
  margin-bottom: -300px;
  color: var(--dark-desaturated-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.feature-4 {
  width: 380px;
  height: 200px;
  margin-bottom: -300px;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.feature-3 .subtitle, .feature-4 .subtitle {
  margin-bottom: 30px;
  font-size: 22px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}
.feature-3 .content, .feature-4 .content {
  font-size: 18px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  line-height: 30px;
}
.client {
  width: 1440px;
  height: 778px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.client-title {
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 120px;
  color: var(--dark-grayish-blue);
}
.clients-card {
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: space-around;
}
.client-1, .client-2, .client-3 {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.avater {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}
.avater-1 {
  background: url(./images/image-emily.jpg) no-repeat center;
  background-size: contain;
}
.avater-2 {
  background: url(./images/image-thomas.jpg) no-repeat center;
  background-size: contain;
}
.avater-3 {
  background: url(./images/image-jennie.jpg) no-repeat center;
  background-size: contain;
}
.info {
  font-size: 18px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  line-height: 30px;
  color: var(--dark-grayish-blue);
  margin-bottom: 60px;
}
.name {
  margin-bottom: 120px;
}
.name h3 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--very-dark-desaturated-blue);
  font-family: 'Fraunces', serif;
  font-weight: 900;
}
.name p {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  color: var(--dark-grayish-blue);
}
.gallery {
  width: 1440px;
  height: 448px;
  display: flex;
}
#gallery-1 {
  width: 360px;
  height: 448px;
  background: url(./images/desktop/image-gallery-milkbottles.jpg) no-repeat center;
  background-size: contain;
}
#gallery-2 {
  width: 360px;
  height: 448px;
  background: url(./images/desktop/image-gallery-orange.jpg) no-repeat center;
  background-size: contain;
}
#gallery-3 {
  width: 360px;
  height: 448px;
  background: url(./images/desktop/image-gallery-cone.jpg) no-repeat center;
  background-size: contain;
}
#gallery-4 {
  width: 360px;
  height: 448px;
  background: url(./images/desktop/image-gallery-sugarcubes.jpg)no-repeat center;
  background-size: contain;
}
.footer {
  width: 1440px;
  height: 351px;
  background-color: var(--dark-moderate-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.menu-footer ul {
  list-style-type: none;
  display: flex;
}
.menu-footer ul li {
  color: var(--dark-desaturated-cyan);
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.menu-footer ul li:nth-child(2) {
  margin: 0 30px;
}
.menu-footer ul li:hover {
  color: var(--white);
}
.icons {
  width: 180px;
  height: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
#facebook {
  width: 17px;
  height: 17px;
  color: var(--dark-desaturated-cyan);
}
#instagram {
  width: 17px;
  height: 17px;
  color: var(--dark-desaturated-cyan);
}
#twitter {
  width: 17px;
  height: 17px;
  color: var(--dark-desaturated-cyan);
}
#pinterest {
  width: 17px;
  height: 17px;
  color: var(--dark-desaturated-cyan);
}
#facebook:hover {
  color: var(--white);
}
#instagram:hover {
  color: var(--white);
}
#twitter:hover {
  color: var(--white);
}
#pinterest:hover {
  color: var(--white);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width:375px) {
  .container {
    width: 375px;
    height: 5219px;
  }
  .header {
    height: 540px;
    background: url(./images/mobile/image-header.jpg) no-repeat center;
    background-size: contain;
  }
 .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #logo-header {
    margin-top: 30px;
  }
  .btn-menu {
    width: 40px;
    height: 40px;
    background: url(./images/icon-hamburger.svg) no-repeat center;
    margin-top: 30px;
    margin-right: 15px;
  }
  .menu {
    z-index: 99;
  }
  .hidden {
    display: none;
  }
  .triangle {
    width: 0px;
    height: 0px;
    border-width:12px 12px 12px 12px;
    border-style:solid;
    border-color: transparent var(--white) var(--white) transparent;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -100%);
  }
  .nav {
    width: 330px;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .nav li {
    color: var(--dark-grayish-blue);
    margin-right: 0;
  }
  .nav li:last-child {
    background-color: var(--yellow);
    margin-right: 0;
  }
  .nav li:last-child:hover {
    color: var(--white);
    background-color: hsl(0, 0%, 100%, 0.5);
  }
  .title h1 {
    margin-top: 50px;
  }
  #arrow-down {
    transform: translate(-16px,-16px);
  }
  .feature-container {
    width: 375px;
    height: 2698px;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(100px, auto);
    row-gap: 0;
  }
  .features {
    width: 375px;
    height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feature-1, .feature-2 {
    width: 330px;
    height: 380px;
    justify-content: space-around;
    align-items: center;
  }
  .feature-1 .subtitle, .feature-2 .subtitle {
    text-align: center;
  }
  .feature-1 .content, .feature-2 .content {
    text-align: center;
  }
  .feature-1-pic {
    grid-column: 1;
    grid-row: 1;
    width: 375px;
    height: 312px;
    background: url(./images/mobile/image-transform.jpg) no-repeat center;
    background-size: contain;
  }
  .feature-2-pic {
    width: 375px;
    height: 312px;
    background: url(./images/mobile/image-stand-out.jpg) no-repeat center;
    background-size: contain;
  }
  .feature-3-pic {
    width: 375px;
    background: url(./images/mobile/image-graphic-design.jpg) no-repeat center;
    background-size: contain;
  }
  .feature-4-pic {
    width: 375px;
    background: url(./images/mobile/image-photography.jpg) no-repeat center;
    background-size: contain;
  }
  .feature-3 {
    width: 375px;
    height: 175px;
    padding: 0 15px;
  }
  .feature-4 {
    width: 375px;
    height: 175px;
    padding: 0 15px;
  }
  .client {
    width: 375px;
    height: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .client-title {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .client-title h2 {
    font-size: 16px;
    text-align: center;
  }
  .clients-card {
    width: 375px;
    height: 1450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .client-1, .client-2, .client-3 {
    width: 346px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .avater {
    margin-bottom: 20px;
  }
  .gallery {
    width: 375px;
    height: 376px;
    display: flex;
    flex-wrap: wrap;
  }
  #gallery-1 {
    width: 187px;
    height: 187px;
    background: url(./images/mobile/image-gallery-milkbottles.jpg)no-repeat center;
    background-size: contain;
  }
  #gallery-2 {
    width: 187px;
    height: 187px;
    background: url(./images/mobile/image-gallery-orange.jpg)no-repeat center;
    background-size: contain;
  }
  #gallery-3 {
    width: 187px;
    height: 187px;
    background: url(./images/mobile/image-gallery-cone.jpg)no-repeat center;
    background-size: contain;
  }
  #gallery-4 {
    width: 187px;
    height: 187px;
    background: url(./images/mobile/image-gallery-sugar-cubes.jpg)no-repeat center;
    background-size: contain;
  }
  .footer {
    width: 375px;
    margin-top: -1px;
  }
}